/* Universal Selectors */
:root {
  --main: #F15152;
  --midnight: #1E555C;
}

/* font choice for the quiz */
*, body {
    font-family: "Times New Roman";
  }

  /* element selectors */
body {
    box-sizing: border-box;
    background-color: var(--midnight);
  }
  /* adjusts the styling on the highscores and time slot */
  header {
    padding: 123px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
  }
  h1 {
    text-align: center;
    padding-bottom: 10px;
    font-size: xx-large;
    font-weight: bolder;
    color: var(--main);
  }
  h2 {
    margin: 0px 10px 20px 10px;
    font-size: x-large;
    font-weight: bold;
    color: var(--main)
  }

  /* class selectors */
.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .p-menu {
    padding: 10px;
    text-align: center;
    font-size: large;
  }
  /* styles all items in header */
  .header-content {
    border: solid;
    padding: 34px;
    color: var(--main);
    line-height: 25px;
    margin: 0 200px;
    font-size: large;
    font-weight: bold;
  }
  /* styles highscores link in header, adds underline on hover */
  .highscore-link {
    text-decoration: none;
    position: relative;
  }
  .highscore-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0%;
    display: block;
    background: none repeat scroll 0 0 transparent;
    height: 2px;
    width: 0;
    transition: all 0.3s;
  }
  .highscore-link:hover::after {
    width: 100%; 
    left: 0; 
    background: var(--main);
  }
  /* styles buttons */
  .button-style {
    display: flex;
    justify-content: left;
    background-color: var(--main);
    color: white;
    transition: all 0.3s;
  }
  .button-style:hover {
    box-shadow: 0px 0px 5px rgba(0,0,0,.8);
    filter: brightness(150%);
  }
  
  /* styles the card */
  .quiz-wrapper {
    border: 34px solid var(--main);
    border-radius: 0px;
    width: 413px;
    max-width: 80%;
    padding: 10px;
  }
/* styles my highscore list page */
  .scores-wrapper {
    border: 34px solid var(--main);
    border-radius: 0px;
    width: 413px;
    max-width: 80%;
    padding: 10px;
  }
  
  /* hides any content with this class */
  .hide {
    display: none;
  }
  .answer-button {
    margin: 10px;
    padding: 5px 10px;
  }
  /* styles button on highscores page */
  .scores-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
  }
  /* styles list on highscores page */
  .list-style {
    display: block;
    padding: 3px;
    font-size: large;
  }
  .list-style:nth-child(odd) {
    background-color: rgb(204, 236, 236);
  }